.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  /* width: 100%; */
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 1;
}

.nav-head {
  align-items: center;
  font-weight: 700;
  font-size: 17px;
}

.text {
  font-weight: 500;
}

.text-size {
  font-size: 13px;
}
